# Python 3.10.12
beautifulsoup4==4.14.3
fastapi==0.133.0
git-filter-repo==2.47.0
httpx==0.28.1
jupyterlab==4.5.0
kagglehub==0.4.3
kagglesdk==0.1.25
lightgbm==4.6.0
matplotlib==3.10.0
notebook==7.5.0
numpy==2.0.2
pandas==2.3.3
python-dotenv==1.2.2
requests==2.34.2
scikit-learn==1.6.1
scipy==1.15.3
seaborn==0.13.2
statsmodels==0.14.6
tqdm==4.67.3
xgboost==3.2.0
